<h4>Hi <%=@user.name%>,</h4>

<p>Your sale of:</p>

<p><%=@order.earring.vendor%> <%=@order.earring.collection%> <%=@order.earring.design%> in <%=@order.earring.material%></p>

<p>has been received!!! We will be sending your payment via Paypal in 2-3 business days.</p>

<p>XOXO,</p>

<p>the Stud and Found team</p>
