<h4>Hi <%=@user.name%>,</h4>

<p>Your purchase of:</p>

<p><%=@order.address.detail.earring.vendor%> <%=@order.address.detail.earring.collection%> <%=@order.address.detail.earring.design%> in <%=@order.address.detail.earring.material%></p>

<p>has been shipped!!! It'll be with you shortly, but if you want to keep an eye on it you can click <%=link_to 'here', "https://tools.usps.com/go/TrackConfirmAction?tLabels=#{@order.tracking}" %> to follow its journey.</p>

<p>Your USPS tracking number is: <%=@order.tracking%>.</p>

<p>XOXO,</p>

<p>the Stud and Found team</p>
