<h1>Please Enter your Shipping Information</h1>
<%= simple_form_for(:user, html: { class: "form-horizontal"}) do |f| %>
	<%= f.error_notification %>
	<%= f.input :street %>
	<%= f.input :street2 %>
	<%= f.input :city %>
	<%= f.input :state %>
	<%= f.input :zip %>
	<%= f.submit "Show Order Summary", class:"btn btn-primary" %>
	<%end%>

<%if @action=="buy"%>
	<%= form_tag earring_charges_path(@earring) do %>
		<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
		data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		data-name="Studhub"
		data-description="<%=@earring.design%> ($<%=@earring.price%>.00)"
		data-amount="<%=@earring.price%>00"
		data-image="<%=@earring.image(:medium)%>"></script>
	<% end %>
<%end%>
