<div class="container">
	<div class="row">
		<div class="span4">
			<h2>Account</h2>
			<table class="table">
				<thead>
					<tr><th colspan="2">Basic Information</th></tr>
				</thead>
				<tbody>
					<tr><td>Name:</td><td><%=@user.name%></td></tr>
					<tr><td>Email:</td><td><%=@user.email%></td></tr>
				</tbody>
			</table>

			<table class="table">
				<thead>
					<tr><th colspan="2">Shipping Address</th></tr>
				</thead>
				<tbody>
					<% unless @user.addresses.count == 0 %>
						<tr><td>Street:</td><td><%=@user.addresses.last.street%></td></tr>
						<tr><td></td><td><%=@user.addresses.last.street2%></td></tr>
						<tr><td>City:</td><td><%=@user.addresses.last.city%></td></tr>
						<tr><td>State:</td><td><%=@user.addresses.last.state%></td></tr>
						<tr><td>ZIP Code:</td><td><%=@user.addresses.last.zip%></td></tr>
					<%else%>
						<tr><td>Street:</td><td></td></tr>
						<tr><td> </td><td></td></tr>
						<tr><td>City:</td><td></td></tr>
						<tr><td>State:</td><td></td></tr>
						<tr><td>ZIP Code:</td><td></td></tr>
					<%end%>
				</tbody>
			</table>

			<table class="table">
				<thead>
					<tr><th colspan="1">Sign In Status</th></tr>
				</thead>
				<tbody>
					<%if @user.identities.first.provider == 'facebook' || @user.identities.last.provider == 'facebook'%>
						<tr><td>Signed in via Facebook</td></tr>
					<%else%>
						<tr><td><%= link_to "Sign in with Facebook", '/auth/facebook' %></td></tr>
					<%end%>
					<%if @user.identities.first.provider == 'paypal' || @user.identities.last.provider == 'paypal'%>
						<tr><td>Signed in via Paypal</td></tr>
					<%else%>
						<tr><td><%= link_to "Sign in with Paypal", '/auth/paypal' %></td></tr>
					<%end%>
					<tr><td><%= link_to "Sign out", signout_path, id: "sign_out" %></td></tr>
				</tbody>
			</table>
		</div>
		<div class="span8">
			<h2>Prior Orders:</h2>
			<div id="earrings">
				<% unless @user.orders.count == 0 %>
					<% @user.orders.reverse.each do |order| %>
						<div class="box bbg">
							<div class="description">
								<% if order.address.buy==true %>
									Purchased:
								<% else %>
									Sold:
								<% end %>
								<%=order.created_at.strftime("%d-%m-%Y at %H:%M")%></br>
							</div>
							<%= link_to (image_tag order.earring.image(:medium)),  "/user/orders/#{order.id}"%></br>
							<div class="description">
								Type: <%=order.earring.vendor%> <%=order.earring.collection%> <%=order.earring.material%> <%=order.earring.design%></br>
								Status: <%=order.status%></br>
								<!--<%= link_to 'Destroy', "/user/orders/#{order.id}", method: :delete, data: { confirm: 'Are you sure?' } %>-->
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</div>
