<% if notice %>
	<p class="alert alert-success" id="notice"><%= notice %></p>
<%end%>

<div class="container">
	<div class="row">
		<div class="span3">
			<h2>Account</h2>
		</div>
		<div class="span9">
			<h2>Prior Orders:</h2>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<table class="table">
				<thead>
					<tr><th colspan="2">Basic Information</th></tr>
				</thead>
				<tbody>
					<tr><td>Name:</td><td><%=@user.name%></td>
					<tr><td>Email:</td><td><%=@user.email%></td>
				</tbody>
			</table>
			<table class="table">
				<thead>
					<tr><th colspan="2">Shipping Address</th></tr>
				</thead>
				<tbody>
					<tr><td>Street:</td><td><%=@user.street%></td>
					<tr><td></td><td><%=@user.street2%></td>
					<tr><td>City:</td><td><%=@user.city%></td>
					<tr><td>State:</td><td><%=@user.state%></td>
					<tr><td>ZIP Code:</td><td><%=@user.zip%></td>
				</tbody>
			</table>

		</div>
		<div class="span9">
			<div id="earrings">
				<% @orders.reverse.each do |order| %>
					<div class="box box-large">
						<div class="description">
							Purchased: <%=order.created_at.strftime("%d-%m-%Y")%></br>
						</div>
						<%= image_tag order.earring.image(:medium)%></br>
						<% link_to (image_tag order.earring.image(:medium)),  earring_path(order.earring)%></br>
						<div class="description">
							Type: <%=order.earring.vendor%> <%=order.earring.collection%> <%=order.earring.material%> <%=order.earring.design%></br>
							Status: <%=order.status%></br>
							<%= link_to 'Destroy', user_orders_path(:user_id=>@user.id, :order_id=>order.id), method: :delete, data: { confirm: 'Are you sure?' } %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
