<% if notice %>
	<p class="alert alert-success" id="notice"><%= notice %></p>
<%end%>

<div class="container">
	<div class="row">
		<div class="span4">
			<h2>Account</h2>
			<table class="table">
				<thead>
					<tr><th colspan="2">Basic Information</th></tr>
				</thead>
				<tbody>
					<tr><td>Name:</td><td><%=@user.name%></td></tr>
					<tr><td>Email:</td><td><%=@user.email%></td></tr>
				</tbody>
			</table>
			<% unless @user.addresses.count == 0 %>
				<table class="table">
					<thead>
						<tr><th colspan="2">Shipping Address</th></tr>
					</thead>
					<tbody>
						<tr><td>Street:</td><td><%=@user.addresses.last.street%></td></tr>
						<tr><td></td><td><%=@user.addresses.last.street2%></td></tr>
						<tr><td>City:</td><td><%=@user.addresses.last.city%></td></tr>
						<tr><td>State:</td><td><%=@user.addresses.last.state%></td></tr>
						<tr><td>ZIP Code:</td><td><%=@user.addresses.last.zip%></td></tr>
					</tbody>
				</table>
			<%else%>
				<table class="table">
					<thead>
						<tr><th colspan="2">Shipping Address</th></tr>
					</thead>
					<tbody>
						<tr><td>Street:</td><td></td></tr>
						<tr><td></td><td></td></tr>
						<tr><td>City:</td><td></td></tr>
						<tr><td>State:</td><td></td></tr>
						<tr><td>ZIP Code:</td><td></td></tr>
					</tbody>
				</table>
			<%end%>

		</div>
		<div class="span8">
			<h2>Prior Orders:</h2>
			<div id="earrings">
				<% @orders.reverse.each do |order| %>
					<div class="box box-large">
						<div class="description">
							<% if order.address.buy=="true" %>
								Purchased:
							<% else %>
								Sold:
							<% end %>
							<%=order.created_at.strftime("%d-%m-%Y at %H:%M")%></br>
						</div>
						<%= link_to (image_tag order.earring.image(:medium)),  "/users/#{@user.id}/orders/#{order.id}"%></br>
						<div class="description">
							Type: <%=order.earring.vendor%> <%=order.earring.collection%> <%=order.earring.material%> <%=order.earring.design%></br>
							Status: <%=order.status%></br>
							<!-- <%= link_to 'Destroy', user_orders_path(:user_id=>@user.id, :order_id=>order.id), method: :delete, data: { confirm: 'Are you sure?' } %> -->
							<%= link_to 'Destroy', "/users/#{@user.id}/orders/#{order.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
