<%= simple_form_for(@earring, html: { class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :image_file_size, class: "alert alert-error" %>
  <%= f.full_error :image_content_type, class: "alert alert-error" %>

  <%= f.input :vendor, as: :string%>
  <%= f.input :collection, as: :string%>
  <%= f.input :design, as: :string%>
  <%= f.input :material, as: :string%>
  <%= f.input :size, as: :integer%>
  <%= f.input :price, as: :integer%>
  <%= f.input :sku, as: :string%>
  <%= f.input :inventory, as: :integer%>
  <%= f.input :used_inventory, as: :integer%>
  <%= f.input :sides, as: :boolean%>
  <%= f.input :easyRestock, as: :boolean%>
  <%= f.input :description, as: :text, input_html: { rows: "3" } %>
  <%= f.input :image, label: "Upload an image" %>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
