<div class="container">
	<div class="row-fluid bbg">
		<div class="span6">
			<div id="earrings">
				<div class="box box-large">
					<%= image_tag @earring.image(:medium)%>
				</div>
			</div>
		</div>
		<div class="span6">
			<h3 style="text-align:center">Order Confirmation</h3>
<!-- 			<h4>Order<h4>
			<strong>Vendor:</strong> <%=@earring.vendor%></br>
			<strong>Collection:</strong> <%=@earring.collection%></br>
			<strong>Design:</strong> <%=@earring.design%></br>
			<strong>Material:</strong> <%=@earring.material%></br>
			<h4>Address<h4>
			<strong>Name:</strong> <%=current_user.name%><br>
			<strong>Street:</strong> <%=@address.street%><br>
			<strong>Added:</strong> <%=@address.street2%><br>
			<strong>City:</strong> <%=@address.city%><br>
			<strong>State:</strong> <%=@address.state%><br>
			<strong>ZIP Code:</strong> <%=@address.zip%><br> -->

			<table class="table">
				<thead>
					<tr><th colspan="2">Order</th></tr>
				</thead>
				<tbody>
					<tr><td>Vendor:</td><td><%=@earring.vendor %></td></tr>
					<tr><td>Collection:</td><td><%=@earring.collection%></td></tr>
					<tr><td>Design</td><td><%=@address.design%></td></tr>
					<tr><td>Material:</td><td><%=@address.material%></td></tr>
				</tbody>
			</table>
			<table class="table">
				<thead>
					<tr><th colspan="2">Shipping Address</th></tr>
				</thead>
				<tbody>
					<tr><td>Name:</td><td><%=current_user.name %></td></tr>
					<tr><td>Street:</td><td><%=@address.street%></td></tr>
					<tr><td></td><td><%=@address.street2%></td></tr>
					<tr><td>City:</td><td><%=@address.city%></td></tr>
					<tr><td>State:</td><td><%=@address.state%></td></tr>
					<tr><td>ZIP Code:</td><td><%=@address.zip%></td></tr>
				</tbody>
			</table>
			<div style="text-align:center">
				<% if @buy == true %>
					<%= form_tag earring_charges_path(:earring_id =>@earring.id, :address_id =>@address.id) do %>
						<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
						data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
						data-name="Studhub"
						data-description="<%=@earring.design%> ($<%=@earring.price%>.00)"
						data-amount="<%=@earring.price%>00"
						data-image="<%=@earring.image(:medium)%>"></script>
					<% end %>

					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="9XCSQM9H4ZTDS">
					<input type="hidden" name="lc" value="US">
					<input type="hidden" name="item_name" value="<%=@earring.design%>">
					<input type="hidden" name="item_number" value="sku">
					<input type="hidden" name="amount" value="<%=@earring.price%>.00">
					<input type="hidden" name="currency_code" value="USD">
					<input type="hidden" name="button_subtype" value="services">
					<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHosted">
					<input type="hidden" name="return" value="http://studandfound.com/remotecreate?earring_id=#{@earring.id}&address_id=#{@address.id}&buy=#{@buy}&used=false"/>
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>



				<% else %>
					<%= link_to "Submit", orders_path(:earring_id =>@earring.id, :address_id =>@address.id, :buy => @buy, :used => true), :method => :post, class:'btn btn-large' %>
				<% end %>
			</div>
		</div>

	</div>
</div>
