<h1 style="text-align:center">Order Confirmation</h1>
<div class="container">
	<div class="row">
		<div>
			<div class="box box-large" style="margin:0 10px 10px">
				<%= image_tag @earring.image(:medium)%>
				<div class="description">
					<strong>Vendor:</strong> <%=@earring.vendor%></br>
					<strong>Collection:</strong> <%=@earring.collection%></br>
					<strong>Design:</strong> <%=@earring.design%></br>
					<strong>Material:</strong> <%=@earring.material%></br>
				</div>
			</div>
		</div>
		<div class="span6">
			<table class="table">
				<thead>
					<tr><th colspan="2">Shipping Address</th></tr>
				</thead>
				<tbody>
					<tr><td>Name:</td><td><%=current_user.name %></td></tr>
					<tr><td>Street:</td><td><%=@address.street%></td></tr>
					<tr><td></td><td><%=@address.street2%></td></tr>
					<tr><td>City:</td><td><%=@address.city%></td></tr>
					<tr><td>State:</td><td><%=@address.state%></td></tr>
					<tr><td>ZIP Code:</td><td><%=@address.zip%></td></tr>
				</tbody>
			</table>
			<div style="text-align:center">
				<% if @buy == "true" %>
					<%= form_tag earring_charges_path(:earring_id =>@earring.id, :address_id =>@address.id) do %>
						<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
						data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
						data-name="Studhub"
						data-description="<%=@earring.design%> ($<%=@earring.price%>.00)"
						data-amount="<%=@earring.price%>00"
						data-image="<%=@earring.image(:medium)%>"></script>
					<% end %>
					<%= form_tag earring_charges_path(:earring_id =>@earring.id, :address_id =>@address.id) do %>
						<script src="paypal-button.min.js?merchant=jennifer.d.liu@gmail.com" class="stripe-button"
						data-button="buynow"
						data-name="<%=@earring.design%> ($<%=@earring.price%>.00)"
						data-quantity="1"
						data-amount="<%=@earring.price%>00"
						data-currency="USD"
						data-shipping="0.75"
						data-tax="3.50"
						data-callback="http://agile-peak-7882.herokuapp.com/earrings/#{@earring.id}/charges?address_id=#{@address.id}"
						data-env="sandbox"></script>
					<% end %>
					<script src="paypal-button.min.js?merchant=jennifer.d.liu@gmail.com"
						data-button="buynow" class="stripe-button"
					data-name="<%=@earring.design%> ($<%=@earring.price%>.00)"
					data-quantity="1"
					data-amount="<%=@earring.price%>00"
					data-currency="USD"
					data-shipping="0.75"
					data-tax="3.50"
					data-callback="http://agile-peak-7882.herokuapp.com/earrings/#{@earring.id}/charges?address_id=#{@address.id}"
					data-env="sandbox"></script>
				<% else %>
					<script
					  src="https://www.dwolla.com/scripts/button.min.js" class="dwolla_button" type="text/javascript"
					  data-key="2LmL+pFFDCzm9HBmZr5MRFIq4SaMuNiUNg6BpwsnublGgyO6NZ"
					  data-redirect="http://agile-peak-7882.herokuapp.com/earrings"
					  data-label="Buy now"
					  data-name="Earring"
					  data-description="Earring Description"
					  data-amount="10"
					  data-shipping="1"
					  data-tax="1"
					  data-guest-checkout="true"
					  data-type="simple"
					>
					</script>
				<% end %>
			</div>
		</div>

	</div>
</div>
