<h1 style="text-align:center">Order Confirmation</h1>
<div class="container">
	<div class="row">
		<div>
			<div class="box box-large" style="margin:0 10px 10px">
				<%= image_tag @earring.image(:medium)%>
				<div class="description">
					<strong>Vendor:</strong> <%=@earring.vendor%></br>
					<strong>Collection:</strong> <%=@earring.collection%></br>
					<strong>Design:</strong> <%=@earring.design%></br>
					<strong>Material:</strong> <%=@earring.material%></br>
				</div>
			</div>
		</div>
		<div class="span6">
			<table class="table">
				<thead>
					<tr><th colspan="2">Shipping Address</th></tr>
				</thead>
				<tbody>
					<tr><td>Name:</td><td><%=current_user.name %></td></tr>
					<tr><td>Street:</td><td><%=@address.street%></td></tr>
					<tr><td></td><td><%=@address.street2%></td></tr>
					<tr><td>City:</td><td><%=@address.city%></td></tr>
					<tr><td>State:</td><td><%=@address.state%></td></tr>
					<tr><td>ZIP Code:</td><td><%=@address.zip%></td></tr>
				</tbody>
			</table>
			<div style="text-align:center">
				<%= form_tag earring_charges_path(:earring_id =>@earring.id, :address_id =>@address.id) do %>
					<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
					data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
					data-name="Studhub"
					data-description="<%=@earring.design%> ($<%=@earring.price%>.00)"
					data-amount="<%=@earring.price%>00"
					data-image="<%=@earring.image(:medium)%>"></script>
				<% end %>
			</div>
		</div>

	</div>
</div>
