<div class="container">
	<div class="row-fluid">
		<ol class="steps">
		    <li class="step1 current"><span>Select Earring</span></li>
		    <li class="step2 current"><span>Shipping</span></li>
		    <li class="step3 current"><span>Confirmation</span></li>
		</ol>
	</div>
	<div class="row-fluid bbg">
		<div class="span4">
			<div id="earrings">
				<div class="box">
					<%if @earring.sides == true%>
						<%if @address.right == true%>
							<%= image_tag @earring.imageright(:large)%>
						<%else%>
							<%= image_tag @earring.imageleft(:large)%>
						<%end%>
					<%else%>
						<%= image_tag @earring.image(:large)%>
					<%end%>
				</div>
			</div>
		</div>
		<div class="span4">
			<h3 style="text-align:center">Confirmation</h3>

			<%= render(:partial => "earrings/table")%>
		</div>
		<div class="span4">

			<h4>Shipping Address</h4>
			<table class="table">
				<tbody>
					<tr><td>Name:</td><td><%=current_user.name %></td></tr>
					<tr><td>Street:</td><td><%=@address.street%></td></tr>
					<tr><td></td><td><%=@address.street2%></td></tr>
					<tr><td>City:</td><td><%=@address.city%></td></tr>
					<tr><td>State:</td><td><%=@address.state%></td></tr>
					<tr><td>ZIP Code:</td><td><%=@address.zip%></td></tr>
				</tbody>
			</table>
			<div style="text-align:center">
				<% if @buy == true %>
					<%= form_tag earring_charges_path(:earring_id =>@earring.id, :address_id =>@address.id) do %>
						<script src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
						data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
						data-name="Studhub"
						data-description="<%=@earring.design%> ($<%=@earring.price%>.00)"
						data-amount="<%=@earring.price%>00"
						data-image="<%=@earring.image(:medium)%>"></script>
					<% end %>
<!--
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_xclick">
					<input type="hidden" name="business" value="9XCSQM9H4ZTDS">
					<input type="hidden" name="lc" value="US">
					<input type="hidden" name="item_name" value="<%=@earring.design%>">
					<input type="hidden" name="item_number" value="sku">
					<input type="hidden" name="amount" value="<%=@earring.price%>.00">
					<input type="hidden" name="currency_code" value="USD">
					<input type="hidden" name="button_subtype" value="services">
					<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHosted">
					<input type="hidden" name="return" value="http://studandfound.com/remotecreate?earring_id=#{@earring.id}&address_id=#{@address.id}&buy=#{@buy}&used=false"/>
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
 -->
				<% else %>

					<%= simple_form_for(@order, html: { class: "form-horizontal"}) do |f| %>
	        					<%= f.error_notification %>

	        					<%= f.hidden_field :user_id, :value => current_user.id %>
	        					<%= f.hidden_field :earring_id, :value => @earring.id %>
	        					<%= f.hidden_field :price_paid, :value => @earring.price %>
	        					<%= f.hidden_field :status, :value => 'Awaiting Shipment' %>
	        					<%= f.hidden_field :address_id, :value => @address.id %>
	        					<%= f.hidden_field :number, :value => 1 %>
	        					<%= f.hidden_field :tax, :value => 0 %>

	        					<div>
	          						<%= f.button :submit, class: "btn btn-primary" %>
	        					</div>
	      				<% end %>

				<% end %>
			</div>
		</div>
		<%= link_to "Edit Shipping Address", new_address_path(:earring_id => @address.earring.id, :buy => @address.buy, :right => @address.right, :used => @address.used)%>
	</div>
</div>
