<h1>Index </h1>

<% if notice %>
	<p class="alert alert-success" id="notice"><%= notice %></p>
<%end%>

<div id="earrings">
	<% @earrings.each do |earring| %>
		<div class="box">
			<%= link_to (image_tag earring.image(:medium)),  earring_path(earring)%>
		</div>
	<% end %>
</div>


<p style="clear:both">Don't see your earring here? Tell us what brand you'd like to see. We're constantly expanding our selection.</p>
<!--
<div style="clear:both">
	</br>
	<h1>Old Index</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Earring</th>
				<th>Size</th>
				<th>Price</th>
				<th>Description</th>
				<th>Image</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @earrings.each do |earring| %>
				<tr>
					<td><%= link_to "#{earring.vendor} #{earring.collection} #{earring.design} #{earring.material}", earring_path(earring)%></td>
					<td><%=earring.size%>mm</td>
					<td>$<%=earring.price%></td>
					<td><%=earring.description%></td>
					<td><%= image_tag earring.image(:medium) %></td>
					<td><%= link_to 'Edit', edit_earring_path(earring) %></td>
					<td><%= link_to 'Destroy', earring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div> -->
