<h1>Inventory</h1>
<p><%=link_to 'Inventory', inv_inventory_path %> | <%=link_to 'Deliverables', inv_deliverables_path %> | <%=link_to 'Receivables', inv_receivables_path %></p>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Earring</th>
			<th>Inventory</th>
			<th>Used Inventory</th>
			<th>Price</th>
			<th>Image</th>
			<th>Create Receipt</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @earrings.each do |earring| %>
			<tr>
				<td><%= link_to "#{earring.vendor} #{earring.collection} #{earring.design} #{earring.material}", "inv/inventory/#{earring.id}/pastorders" %></td>
				<td>
					<%=earring.inventory%>
				</td>
				<td>
					<%=earring.used_inventory%>
				</td>
				<td>$<%=earring.price%></td>
				<td><%= image_tag earring.image(:small) %></td>
				<td><%=link_to 'New Receipt', "/orders/new?earring_id=#{earring.id}"%></td>
				<td><%= link_to 'Edit', edit_earring_path(earring) %></td>
				<td><%= link_to 'Destroy', earring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to 'Back to Dashboard', '/inv' %>
