<h1>Inventory</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Earring</th>
			<th>Inventory</th>
			<th>Used Inventory</th>
			<th>Price</th>
			<th>Image</th>
			<th>Restock Version 1</th>
			<th>Restock Version 2</th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
		<% @earrings.each do |earring| %>
			<tr>
				<td><%= link_to "#{earring.vendor} #{earring.collection} #{earring.design} #{earring.material}", "/earrings/#{earring.id}/pastorders"%></td>
				<td>
					<%=earring.inventory%>
				</td>
				<td>
					<%=earring.used_inventory%>
				</td>
				<td>$<%=earring.price%></td>
				<td><%= image_tag earring.image(:small) %></td>
				<td>
					<%= simple_form_for(earring) do |f| %>
					<%= f.input :inventory, label: false, placeholder: "#{earring.inventory+2}" %>
					<%= f.button :submit, class: "btn" %>
					<% end %>
				</td>
				<td>
					<%= simple_form_for(earring) do |f| %>
					<%= f.hidden_field :inventory, :value => earring.inventory+2 %>
					<%= f.button :submit, class: "btn" %>
					<% end %>
				</td>
				<td><%= link_to 'Edit', edit_earring_path(earring) %></td>
				<td><%= link_to 'Destroy', earring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to 'Back to Dashboard', '/inv' %>
