<h3>Inventory</h3>
<p><%=link_to 'Inventory', inv_inventory_path %> | <%=link_to 'Deliverables', inv_deliverables_path %> | <%=link_to 'Receivables', inv_receivables_path %></p>
<p><%=link_to 'New Earring', new_earring_path %></p>
<p><%=link_to "Show only Tiffany's", inv_inventory_path(:v=>"Tiffany & Co.")%> | <%=link_to "Show only Chanel", inv_inventory_path(:v=>"Chanel")%></p>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Vendor</th>
			<th>Collection</th>
			<th>Design</th>
			<th>Material</th>
			<th>Size</th>
			<th>Price</th>
			<th>SKU</th>
			<th>Inventory</th>
			<th>Used Inventory</th>
			<th>Image</th>
			<th>Create Receipt</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @earrings.each do |earring| %>
			<%if earring.vendor == @vendor  || @vendor == nil%>
				<tr>
					<td><%= link_to earring.vendor, "/inv/inventory/#{earring.id}/pastorders" %></td>
					<td><%= link_to earring.collection, "/inv/inventory/#{earring.id}/pastorders" %></td>
					<td><%= link_to earring.design, "/inv/inventory/#{earring.id}/pastorders" %></td>
					<td><%= link_to earring.material, "/inv/inventory/#{earring.id}/pastorders" %></td>
					<%unless earring.size==nil%>
						<td><%= link_to earring.size, "/inv/inventory/#{earring.id}/pastorders" %></td>
					<%end%>
					<td>$<%=earring.price%></td>
					<td>$<%=earring.sku%></td>
					<td><%=earring.inventory%></td>
					<td><%=earring.used_inventory%></td>
					<td><%= image_tag earring.image(:small) %></td>
					<td><%=link_to 'New Receipt', "/orders/new?earring_id=#{earring.id}"%></td>
					<td><%= link_to 'Edit', edit_earring_path(earring) %></td>
					<td><%= link_to 'Destroy', earring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<%end%>
		<% end %>
	</tbody>
</table>
<%= link_to 'Back to Dashboard', '/inv' %>
