<h1>Index</h1>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Earring</th>
				<th>Inventory</th>
				<th>Used Inventory</th>
				<th>Price</th>
				<th>Image</th>
				<th>Restock</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<% @earrings.each do |earring| %>
				<tr>
					<td><%= link_to "#{earring.vendor} #{earring.collection} #{earring.design} #{earring.material}", earring_path(earring)%></td>
					<td>
						<%if earring.sides%>
							<%=earring.inventory%1000%>R and <%=(earring.inventory-earring.inventory%1000)/1000%>L
						<%else%>
							<%=earring.inventory%>
						<%end%>
					</td>
					<td>
						<%if earring.sides%>
							<%=earring.used_inventory%1000%>R and <%=(earring.used_inventory-earring.used_inventory%1000)/1000%>L
						<%else%>
							<%=earring.inventory%>
						<%end%>
					</td>
					<td>$<%=earring.price%></td>
					<td><%= image_tag earring.image(:small) %></td>
					<td><%=link_to 'Bought a pair', "/earrings/#{earring.id}/restock", class:"btn"%></td>
					<td><%= link_to 'Edit', edit_earring_path(earring) %></td>
					<td><%= link_to 'Destroy', earring, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
