<h3>Past orders for earring <%= @earring.id %></h3>
<h4>New</h4>
<table>
	<thead>
		<th>Amount</th>
		<th>Paid per Earring</th>
		<th>Type</th>
		<th>Del/Rec</th>
		<th>User</th>
		<th>Order ID</th>
		<th>Tracking</th>
	</thead>
	<tbody>
		<%@orders.each do |order| %>
			<%if order.earring.id == @earring.id %>
				<tr>
					<td><%=order.number%></td>
					<td><%=order.price_paid + order.tax%></td>
					<td>
						<%if order.address.id==73%>
							Receipt
						<%else%>
							Ticket
						<%end%>
					</td>
					<td>
						<%if order.address.buy==true%>
							Deliverable
						<%else%>
							Receivable
						<%end%>
					</td>
					<td><%=order.user.id%></td>
					<td><%=order.id%></td>
					<td>
						<%= simple_form_for(order) do |f| %>
							<%= f.input :tracking, label: false, placeholder: 'Tracking Number' %>
							<%= f.hidden_field :status, :value => 'Shipped' %>
							<%= f.button :submit, class: "btn" %>
						<% end %>
					</td>
				</tr>
			<%end%>
		<%end%>
	</tbody>
</table>
