<h3>Past orders for earring <%= @earring.id %></h3>
<p><%=link_to 'Inventory', inv_inventory_path %> | <%=link_to 'Deliverables', inv_deliverables_path %> | <%=link_to 'Receivables', inv_receivables_path %></p>
<h4>New - Currently <%=@earring.inventory%> in stock</h4>
<table class="table">
	<thead>
		<th>Date</th>
		<th>Amount</th>
		<th>Paid per Earring</th>
		<th>Type</th>
		<th>Del/Rec</th>
		<th>User</th>
		<th>Order ID</th>
		<th>Tracking</th>
	</thead>
	<tbody>
		<%@orders.each do |order| %>
			<%if order.address.used == false%>
				<tr>
					<td><%=order.created_at.strftime("%d-%m-%Y at %H:%M")%></td>
					<td>
						<%if order.address.buy==true%>
							-<%=order.number%>
						<%else%>
							+<%=order.number%>
						<%end%>
					</td>
					<td><%=order.price_paid + order.tax%></td>
					<td>
						<%if order.address.id==73%>
							Receipt
						<%else%>
							Ticket
						<%end%>
					</td>
					<td>
						<%if order.address.buy==true%>
							Deliverable
						<%else%>
							Receivable
						<%end%>
					</td>
					<td><%=order.user.name%></td>
					<td><%=link_to order.id, "/orders/#{order.id}"%></td>
					<td>
						<%if order.tracking == nil %>
							<%= simple_form_for(order) do |f| %>
								<%= f.input :tracking, label: false, placeholder: 'Tracking Number' %>
								<%= f.hidden_field :status, :value => 'Shipped' %>
								<%= f.button :submit, class: "btn" %>
							<% end %>
						<%else%>
							<%= order.tracking %>
						<%end%>
					</td>
				</tr>
			<%end%>
		<%end%>
	</tbody>
</table>
<br>
<h4>Used - Currently <%=@earring.used_inventory%> in stock</h4>
<table class="table">
	<thead>
		<th>Date</th>
		<th>Amount</th>
		<th>Paid per Earring</th>
		<th>Type</th>
		<th>Del/Rec</th>
		<th>User</th>
		<th>Order ID</th>
		<th>Tracking</th>
	</thead>
	<tbody>
		<%@orders.each do |order| %>
			<%if order.address.used == true%>
				<tr>
					<td><%=order.created_at.strftime("%d-%m-%Y at %H:%M")%></td>
					<td>
						<%if order.address.buy==true%>
							-<%=order.number%>
						<%else%>
							+<%=order.number%>
						<%end%>
					</td>
					<td><%=order.price_paid + order.tax%></td>
					<td>
						<%if order.address.id==73%>
							Receipt
						<%else%>
							Ticket
						<%end%>
					</td>
					<td>
						<%if order.address.buy==true%>
							Deliverable
						<%else%>
							Receivable
						<%end%>
					</td>
					<td><%=order.user.id%></td>
					<td><%=order.id%></td>
					<td>
						<%if order.tracking == nil %>
							<%= simple_form_for(order) do |f| %>
								<%= f.input :tracking, label: false, placeholder: 'Tracking Number' %>
								<%= f.hidden_field :status, :value => 'Shipped' %>
								<%= f.button :submit, class: "btn" %>
							<% end %>
						<%else%>
							<%= order.tracking %>
						<%end%>
					</td>
				</tr>
			<%end%>
		<%end%>
	</tbody>
</table>
