<h3>Deliverables</h3>
<p><%=link_to 'Inventory', inv_inventory_path %> | <%=link_to 'Deliverables', inv_deliverables_path %> | <%=link_to 'Receivables', inv_receivables_path %></p>
<h4>Outstanding</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Created</th>
			<th>Order ID</th>
			<th>User</th>
			<th>Address</th>
			<th>Earring SKU</th>
			<th>Picture</th>
			<th>Status</th>
			<th>Tracking</th>
			<th>Update</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<%if order.address.buy == true && order.tracking == nil%>
				<tr>
					<td><%=order.created_at.strftime("%d-%m-%Y at %H:%M")%></td>
					<td><%=link_to order.id, "/orders/#{order.id}"%></td>
					<td><%=order.user.name%></td>
					<td>
						<%=order.address.street%><br>
						<%=order.address.street2%><br>
						<%=order.address.city%>, <%=order.address.state%> <%=order.address.zip%>
					</td>
					<td><%=order.earring.sku%></td>
					<td>
						<%if order.earring.sides == true%>
							<%if order.address.right == true%>
								<%= link_to (image_tag order.earring.imageright(:small)), "/inv/inventory/#{order.earring.id}/pastorders"%>
							<%else%>
								<%= link_to (image_tag order.earring.imageleft(:small)), "/inv/inventory/#{order.earring.id}/pastorders"%>
							<%end%>
						<%else%>
							<%= link_to (image_tag order.earring.image(:small)), "/inv/inventory/#{order.earring.id}/pastorders"%>
						<%end%>
					</td>
					<td><%=order.status %></td>
					<td><%=order.tracking %></td>
					<td>
						<%= simple_form_for(order) do |f| %>
						<%= f.input :tracking, label: false, placeholder: 'Tracking Number' %>
						<%= f.hidden_field :status, :value => 'Shipped' %>
						<%= f.button :submit, class: "btn" %>
						<% end %>
					</td>
				</tr>
			<%end%>
		<%end%>
	</tbody>
</table>
<br>
<h4>Completed</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Created</th>
			<th>Order ID</th>
			<th>User</th>
			<th>Address</th>
			<th>Earring SKU</th>
			<th>Picture</th>
			<th>Status</th>
			<th>Tracking</th>
			<th>Update</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<%if order.address.buy == true && order.tracking != nil %>
				<tr>
					<td><%=order.created_at.strftime("%d-%m-%Y at %H:%M")%></td>
					<td><%=link_to order.id, "/orders/#{order.id}"%></td>
					<td><%=order.user.name%></td>
					<td>
						<%=order.address.street%><br>
						<%=order.address.street2%><br>
						<%=order.address.city%>, <%=order.address.state%> <%=order.address.zip%>
					</td>
					<td><%=order.earring.sku%></td>
					<td>
						<%if order.earring.sides == true%>
							<%if order.address.right == true%>
								<%= link_to (image_tag order.earring.imageright(:small)), "/inv/inventory/#{order.earring.id}/pastorders"%>
							<%else%>
								<%= link_to (image_tag order.earring.imageleft(:small)), "/inv/inventory/#{order.earring.id}/pastorders"%>
							<%end%>
						<%else%>
							<%= link_to (image_tag order.earring.image(:small)), "/inv/inventory/#{order.earring.id}/pastorders"%>
						<%end%>
					</td>
					<td><%=order.status %></td>
					<td><%=order.tracking %></td>
					<td>
						<%= simple_form_for(order) do |f| %>
						<%= f.input :tracking, label: false, placeholder: 'Tracking Number' %>
						<%= f.hidden_field :status, :value => 'Shipped' %>
						<%= f.button :submit, class: "btn" %>
						<% end %>
					</td>
				</tr>
			<%end%>
		<%end%>
	</tbody>
</table>
<br>
<%= link_to 'Back to Dashboard', '/inv' %>
