<h3>New Receipt</h3>
<div class="container">
  <div class="row">
    <div>
      <div class="box box-large" style="margin:0 10px 10px">
        <%= image_tag @earring.image(:medium)%>
        <div class="description">
          <strong>Vendor:</strong> <%=@earring.vendor%></br>
          <strong>Collection:</strong> <%=@earring.collection%></br>
          <strong>Design:</strong> <%=@earring.design%></br>
          <strong>Material:</strong> <%=@earring.material%></br>
        </div>
      </div>
    </div>

    <div class="span6">
      <%= simple_form_for(@order, html: { class: "form-horizontal"}) do |f| %>
        <%= f.error_notification %>

        <%= f.input :number, :label => 'Quantity', as: :integer%>
        <%= f.input :price_paid, :label => 'Cost', as: :integer%>
        <%= f.input :tax, as: :integer%>
        <%= f.hidden_field :earring_id, :value => @earring.id %>
        <%= f.hidden_field :address_id, :value => 73 %>
        <%= f.hidden_field :user_id, :value => 17 %>
        <%= f.hidden_field :status, :value => 'Purchased' %>

        <div class="form-actions">
          <%= f.button :submit, class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
  <div style="text-align: center">
    <%= link_to 'Back to Inventory', '/inv/inventory' %>
  </div>
</div>
