<h3>Receivables</h3>
<h4>Outstanding</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Order ID</th>
			<th>User</th>
			<th>Address</th>
			<th>Sku</th>
			<th>Picture</th>
			<th>Status</th>
			<th>Received</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<%if order.address.buy == false && order.status =! "Received"%>
				<tr>
					<td><%=order.id%></td>
					<td><%=order.user.name%></td>
					<td>
						<%=order.address.street%><br>
						<%=order.address.street2%><br>
						<%=order.address.city%>, <%=order.address.state%> <%=order.address.zip%>
					</td>
					<td><%=order.earring.sku%></td>
					<td><%= link_to (image_tag order.earring.image(:small)), "/earrings/#{order.earring.id}/pastorders"%></td>
					<td><%=order.status %></td>
					<td><%unless order.status=="Received"%><%=link_to 'Received!', "/orders/#{order.id}/arrival", class:"btn"%><%end%></td>
				</tr>
			<%end%>
		<%end%>
	</tbody>
</table>
<br>
<h4>Completed</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Order ID</th>
			<th>User</th>
			<th>Address</th>
			<th>Sku</th>
			<th>Picture</th>
			<th>Status</th>
			<th>Received</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<%if order.address.buy == false%>
				<%unless order.status == 'Received' %>
					<tr>
						<td><%=order.id%></td>
						<td><%=order.user.name%></td>
						<td>
							<%=order.address.street%><br>
							<%=order.address.street2%><br>
							<%=order.address.city%>, <%=order.address.state%> <%=order.address.zip%>
						</td>
						<td><%=order.earring.sku%></td>
						<td><%= link_to (image_tag order.earring.image(:small)), "/earrings/#{order.earring.id}/pastorders"%></td>
						<td><%=order.status %></td>
						<td><%unless order.status=="Received"%><%=link_to 'Received!', "/orders/#{order.id}/arrival", class:"btn"%><%end%></td>
					</tr>
				<%end%>
			<%end%>
		<%end%>
	</tbody>
</table>
<%= link_to 'Back to Dashboard', '/inv' %>
