<h3>Receivables</h3>
<p><%=link_to 'Inventory', inv_inventory_path %> | <%=link_to 'Deliverables', inv_deliverables_path %> | <%=link_to 'Receivables', inv_receivables_path %></p>
<h4>Outstanding</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Order ID</th>
			<th>User</th>
			<th>Address</th>
			<th>Sku</th>
			<th>Picture</th>
			<th>Status</th>
			<th>Received</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<%if order.address.buy == false%>
				<%if order.status=="Awaiting Shipment"%>
					<tr>
						<td><%=link_to order.id, "/orders/#{order.id}"%></td>
						<td><%=order.user.name%></td>
						<td>
							<%=order.address.street%><br>
							<%=order.address.street2%><br>
							<%=order.address.city%>, <%=order.address.state%> <%=order.address.zip%>
						</td>
						<td><%=order.earring.sku%></td>
						<td><%= link_to (image_tag order.earring.image(:small)), "/earrings/#{order.earring.id}/pastorders"%></td>
						<td><%=order.status %></td>
						<td><%unless order.status=="Received"%>
							<%= simple_form_for(order) do |f| %>
							<%= f.hidden_field :status, :value => 'Received' %>
							<%= f.button :submit, "Received!", class: "btn" %>
							<% end %>
						<%end%></td>
					</tr>
				<%end%>
			<%end%>
		<%end%>
	</tbody>
</table>
<h4>Completed</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Order ID</th>
			<th>User</th>
			<th>Address</th>
			<th>Sku</th>
			<th>Picture</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<%if order.address.buy == false%>
				<%if order.status=="Received"%>
					<tr>
						<td><%=order.id%></td>
						<td><%=order.user.name%></td>
						<td>
							<%=order.address.street%><br>
							<%=order.address.street2%><br>
							<%=order.address.city%>, <%=order.address.state%> <%=order.address.zip%>
						</td>
						<td><%=order.earring.sku%></td>
						<td><%= link_to (image_tag order.earring.image(:small)), "/earrings/#{order.earring.id}/pastorders"%></td>
						<td><%=order.status %></td>
					</tr>
				<%end%>
			<%end%>
		<%end%>
	</tbody>
</table>
<h4>Receipts</h4>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Order ID</th>
			<th>User</th>
			<th>Sku</th>
			<th>Picture</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		<% @orders.each do |order| %>
			<%if order.address.buy == false%>
				<%if order.status=="Purchased"%>
					<tr>
						<td><%=order.id%></td>
						<td><%=order.user.name%></td>
						<td><%=order.earring.sku%></td>
						<td><%= link_to (image_tag order.earring.image(:small)), "/earrings/#{order.earring.id}/pastorders"%></td>
						<td><%=order.status %></td>
					</tr>
				<%end%>
			<%end%>
		<%end%>
	</tbody>
</table>


<%= link_to 'Back to Dashboard', '/inv' %>
