<h1 style="text-align:center">Your Order</h1>
</br>
<div class="container">
	<div class="row bbg">
		<div class="span6">
			<div id="earrings">
				<div class="box box-large">
					<%= image_tag @earring.image(:medium)%>
				</div>
			</div>
		</div>
		<div class="span6">
			<h4>Your order</h4>
			<table class="table">
				<tbody>
					<tr><td colspan="2">
					<% if @order.address.buy==true %>
						Purchased:
					<% else %>
						Sold:
					<% end %>
					<%=@order.created_at.strftime("%d-%m-%Y at %H:%M")%></td></tr>
					<tr><td>Vendor:</td><td><%=@order.earring.vendor %></td></tr>
					<tr><td>Collection:</td><td><%=@order.earring.collection%></td></tr>
					<tr><td>Design</td><td><%=@order.earring.design%></td></tr>
					<tr><td>Material:</td><td><%=@order.earring.material%></td></tr>
					<tr><td>Condition:</td><td>
					<%if @order.address.used==true%>
						Used
					<%else%>
						New
					<%end%></td>
				</tbody>
			</table>
			<p><%=@order.earring.description%></p>
			<h4>Shipping Address</h4>
			<table class="table">
				<tbody>
					<tr><td>Name:</td><td><%=current_user.name %></td></tr>
					<tr><td>Street:</td><td><%=@order.address.street%></td></tr>
					<tr><td></td><td><%=@order.address.street2%></td></tr>
					<tr><td>City:</td><td><%=@order.address.city%></td></tr>
					<tr><td>State:</td><td><%=@order.address.state%></td></tr>
					<tr><td>ZIP Code:</td><td><%=@order.address.zip%></td></tr>
				</tbody>
			</table>
		</div>
<!-- 		<div class="span4">
			<div style:"margin:auto">
				<h3>Details:</h3>
				<strong>
				<% if @order.address.buy==true %>
					Purchased:
				<% else %>
					Sold:
				<% end %></strong> <%=@order.created_at.strftime("%d-%m-%Y at %H:%M")%></br>
				<strong>Vendor:</strong> <%=@order.earring.vendor%></br>
				<strong>Collection:</strong> <%=@order.earring.collection%></br>
				<strong>Design:</strong> <%=@order.earring.design%></br>
				<strong>Material:</strong> <%=@order.earring.material%></br>
				<strong>Size:</strong> <%=@order.earring.size%>mm</br>
				<strong>Price:</strong> $<%=@order.earring.price%>.00</br>
				<strong>Description:</strong>  <%=@order.earring.description%></br></br>
				<%if @order.address.used==true%>
					<strong>This order is for a used earring.</strong>
				<%end%>
			</div>
		</div>
		<div class="span4">
			<div class="table" style="margin:auto">
				<h3>Shipping Information:</h3>
				<table>
					<tr><td>Street:</td><td><%=@order.address.street%></td></tr>
					<tr><td></td><td><%=@order.address.street2%></td></tr>
					<tr><td>City:</td><td><%=@order.address.city%></td></tr>
					<tr><td>State:</td><td><%=@order.address.state%></td></tr>
					<tr><td>ZIP Code:</td><td><%=@order.address.zip%></td></tr>
					<tr><td>Status:</td><td><%=@order.status%></td></td>
					<tr><td>Tracking:</td><td>
						<%if @order.tracking%><%=link_to @order.tracking, "https://tools.usps.com/go/TrackConfirmAction?tLabels=#{@order.tracking}" %><%end%>
					</td>
				</table>
			</div>
		</div> -->
	</div>
	<div class="row" style="text-align:center">
		<%=link_to "Back to Profile", '/user' %>
	</div>
</div>

