
<div class="container">
	<div class="row bbg">
		<div class="span4">
			<div id="earrings">
				<div class="box">
					<%if @detail.earring.sides == true%>
						<%if @detail.right == true%>
							<%= image_tag @detail.earring.imageright(:medium)%>
						<%else%>
							<%= image_tag @detail.earring.imageleft(:medium)%>
						<%end%>
					<%else%>
						<%= image_tag @detail.earring.image(:medium)%>
					<%end%>
				</div>
			</div>
		</div>
		<div class="span4">
			<h4 style="text-align:center">Your order</h4>
			<table class="table">
				<tbody>
					<tr><td>
					<% if @detail.buy==true %>
						Purchased:
					<% else %>
						Sold:
					<% end %></td>
					<td><%=@order.created_at.strftime("%d-%m-%Y at %H:%M")%></td></tr>
					<tr><td>Vendor:</td><td><%=@detail.earring.vendor %></td></tr>
					<tr><td>Collection:</td><td><%=@detail.earring.collection%></td></tr>
					<tr><td>Design</td><td><%=@detail.earring.design%></td></tr>
					<tr><td>Material:</td><td><%=@detail.earring.material%></td></tr>
					<tr><td>Condition:</td><td>
					<%if @detail.used==true%>
						Used
					<%else%>
						New
					<%end%></td></tr>
					<tr><td colspan="2"><%=@detail.earring.description%></td></tr>
				</tbody>
			</table>
		</div>
		<div class="span4">
			<h4 style="text-align:center">Shipping Information</h4>
			<table class="table">
				<tbody>
					<tr><td>Name:</td><td><%=current_user.name %></td></tr>
					<tr><td>Street:</td><td><%=@address.street%></td></tr>
					<tr><td></td><td><%=@address.street2%></td></tr>
					<tr><td>City:</td><td><%=@address.city%></td></tr>
					<tr><td>State:</td><td><%=@address.state%></td></tr>
					<tr><td>ZIP Code:</td><td><%=@address.zip%></td></tr>
					<tr><td>Status:</td><td><%=@order.status%></td></td>
					<tr><td>Tracking:</td><td>
						<%if @order.tracking%><%=link_to @order.tracking, "https://tools.usps.com/go/TrackConfirmAction?tLabels=#{@order.tracking}" %><%end%>
					</td>
				</tbody>
			</table>
		</div>
	</div>
</div>
<br>
<div class="row" style="text-align:center">
	<%=link_to "Back to Profile", '/user' %>
</div>
