<div class="container">
	<div class="row-fluid">
		<ol class="steps">
		    <li class="step1 current"><span>Select Earring</span></li>
		    <li class="step2 current"><span>Shipping</span></li>
		    <li class="step3"><span>Confirmation</span></li>
		</ol>
	</div>
	<h3 style="text-align:center">Shipping</h3>
	<div class="row-fluid bbg">
		<div class="span4">
			<div id="earrings">
				<div class="box">
					<%if @earring.sides == true%>
						<%if @right == 'true'%>
							<%= image_tag @earring.imageright(:large)%>
						<%else%>
							<%= image_tag @earring.imageleft(:large)%>
						<%end%>
					<%else%>
						<%= image_tag @earring.image(:large)%>
					<%end%>
				</div>
			</div>
		</div>

		<div class="span4">
			<%= render(:partial => "earrings/table")%>
		</div>
		<div class="span4">
			<h4 style="text-align:center">Enter Shipping Address</h4>
			<%= simple_form_for(@address, html: { style: "margin-left:100px"}) do |f| %>
			<%= f.error_notification %>

			<%unless current_user.addresses.count==0%>
				<div class="form-inputs">
<!-- 					<%= f.input :street, :input_html => { :value => @lastaddress.street} %>
					<%= f.input :street2, :input_html => { :value => @lastaddress.street2} %>
					<%= f.input :city, :input_html => { :value => @lastaddress.city} %>
					<%= f.input :state, :input_html => { :value => @lastaddress.state} %>
					<%= f.input :zip, :input_html => { :value => @lastaddress.zip} %>
					<%= f.hidden_field :earring_id, :value => @earring.id %>
					<%= f.hidden_field :buy, :value => @buy %>
					<%= f.hidden_field :right, :value => @right %>
					<%= f.hidden_field :used, :value => @used %> -->
					<%= f.input :street, label: false, :input_html => { :value => @lastaddress.street} %>
					<%= f.input :street2, label: false, :input_html => { :value => @lastaddress.street2} %>
					<%= f.input :city, label: false, :input_html => { :value => @lastaddress.city} %>
					<%= f.input :state, label: false, :input_html => { :value => @lastaddress.state} %>
					<%= f.input :zip, label: false, :input_html => { :value => @lastaddress.zip} %>
					<%= f.hidden_field :earring_id, :value => @earring.id %>
					<%= f.hidden_field :buy, :value => @buy %>
					<%= f.hidden_field :right, :value => @right %>
					<%= f.hidden_field :used, :value => @used %>
				</div>
			<% else %>
				<div class="form-inputs">
					<%= f.input :street, label: false, placeholder: 'Street'%>
					<%= f.input :street2, label: false, placeholder: 'Street 2'%>
					<%= f.input :city, label: false, placeholder: 'City'%>
					<%= f.input :state, label: false, placeholder: 'State'%>
					<%= f.input :zip, label: false, placeholder: 'Zip Code'%>
					<%= f.hidden_field :earring_id, :value => @earring.id %>
					<%= f.hidden_field :buy, :value => @buy %>
					<%= f.hidden_field :right, :value => @right %>
					<%= f.hidden_field :used, :value => @used %>
				</div>
			<% end %>
				<div class="form-actions bbg">
					<%= f.button :submit, "Show Order Summary", class: "btn btn-primary"  %>
				</div>
			<% end %>
		</div>
	</div>
</div>

<br>
<div class="links" style="clear:both; text-align:center">
	<%= link_to 'Back to Earring', earring_path(@earring) %>
</div>
