<div class="container">
	<div class="row-fluid bbg">
		<div class="span6">
			<div id="earrings">
				<div class="box box-large">
					<%= image_tag @earring.image(:medium)%>
				</div>
			</div>
		</div>

		<div class="span6">
			<h3 style="text-align:center">Enter Shipping Address</h3>
			<!-- <strong>Vendor:</strong> <%=@earring.vendor%></br>
			<strong>Collection:</strong> <%=@earring.collection%></br>
			<strong>Design:</strong> <%=@earring.design%></br>
			<strong>Material:</strong> <%=@earring.material%></br>
			<br> -->
			<table class="table">
				<thead>
					<tr><th colspan="2">Order</th></tr>
				</thead>
				<tbody>
					<tr><td>Vendor:</td><td><%=@earring.vendor %></td></tr>
					<tr><td>Collection:</td><td><%=@earring.collection%></td></tr>
					<tr><td>Design</td><td><%=@address.design%></td></tr>
					<tr><td>Material:</td><td><%=@address.material%></td></tr>
				</tbody>
			</table>
			<%= simple_form_for(@address, html: { class: "form-horizontal"}) do |f| %>
			<%= f.error_notification %>

			<%unless current_user.addresses.count==0%>
				<div class="form-inputs">
					<%= f.input :street, :input_html => { :value => @lastaddress.street} %>
					<%= f.input :street2, :input_html => { :value => @lastaddress.street2} %>
					<%= f.input :city, :input_html => { :value => @lastaddress.city} %>
					<%= f.input :state, :input_html => { :value => @lastaddress.state} %>
					<%= f.input :zip, :input_html => { :value => @lastaddress.zip} %>
					<%= f.hidden_field :earring_id, :value => @earring.id %>
					<%= f.hidden_field :buy, :value => @buy %>
					<%= f.hidden_field :right, :value => @right %>
					<%= f.hidden_field :used, :value => @used %>
				</div>
			<% else %>
				<div class="form-inputs">
					<%= f.input :street%>
					<%= f.input :street2%>
					<%= f.input :city%>
					<%= f.input :state%>
					<%= f.input :zip%>
					<%= f.hidden_field :earring_id, :value => @earring.id %>
					<%= f.hidden_field :buy, :value => @buy %>
					<%= f.hidden_field :right, :value => @right %>
					<%= f.hidden_field :used, :value => @used %>
				</div>
			<% end %>
				<div class="form-actions bbg">
					<%= f.button :submit, "Show Order Summary" %>
				</div>
			<% end %>
		</div>
	</div>
	<br>
	<div style="text-align: center">
		<%= link_to 'Back to Earring', earring_path(@earring) %>
	</div>
</div>
