<h2>Thanks, you paid <strong>$<%=@amount%>.00</strong> for the <%=@earring.material%> <%=@earring.design %> earring from the <%=@earring.vendor %> <%=@earring.collection %> collection!</h2>
Return to the <%=link_to "Earring Selection", earrings_path %>.
