<div class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			 <a class="brand" href="/"><%=image_tag 'ampersand.png', style: "width:20px" %></a>

			<div class="nav-collapse">
				<ul class="nav">
					<li>
						<%= link_to 'Earrings',  earrings_path %>
					</li>
					<%if current_user%>
						<li><%= link_to 'Profile', '/user' %></li>
						<%if current_user.admin==true%>
							<li><%= link_to 'Inv Dashboard', '/inv' %></li>
						<%end%>
						<%unless  current_page?(confirm_path) %>
							<%if current_user.addresses.last != nil && current_user.addresses.last.order==nil%>
									<li><%= link_to 'Continue last order', '/confirm' %></li>
							<%end%>
						<%end%>
					<%end%>
				</ul>
				<ul class="nav pull-right">
					<%if current_user%>
						<li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
					<%else%>
						<li><%= link_to "Sign in with Facebook", '/auth/facebook' %></li>
					<%end%>
				</ul>
			</div>
		</div>
	</div>
</div>
<h1 style="text-align:center"><%=image_tag 'studandfound_logo2.png', style: "width:380px" %></h1>
