<!DOCTYPE html>
<html>
	<head>
		<title>Studhub</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
		<!--<meta property="og:title" content="YOUR TITLE HERE" />
		<meta property="og:description" content="YOUR DESCRIPTION HERE" />
		<meta property="og:image" content="YOUR THUMBNAIL URL HERE" />-->
	</head>
	<body>
		<%= render 'layouts/header' %>
		<% if notice %>
			<p class="alert alert-success" id="notice"><%= notice %></p>
		<%end%>
		<div class="container">
			<div class="row">
				<div class="span12">
					<%= yield %>
				</div>
			</div>
		</div>
		<%= render 'layouts/footer' %>
	</body>
</html>
